@import 'colors.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: $indigo;
}

a {
  color: inherit;
  text-decoration: none;
  transition: .3s;
}

button {
  transition: .2s;
}

#loading-bar {
  position: fixed;
  z-index: 9999;
  top: 64px;
  /* adjust this value based on your navbar height */
  left: 0;
  width: 100%;
  height: 4px;
  background-color: transparent;
}

#nprogress .bar {
  background: #3a9f70 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #3a9f70, 0 0 5px #3a9f70 !important;
}