@import 'colors';

.light {
    padding: 5.2rem .4rem 1.2rem;

    ::-webkit-scrollbar {
        width: 6px;

        &-track {
            background: #aaa5;
        }

        &-thumb {
            background: $green-lite;
            border-radius: 4px;
        }
    }

    .surahsWrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        transition: .2s;

        a {
            width: 300px;
        }
    }


    @media (max-width: 680px) {
        height: 100vh;
        padding: 5rem .4rem 1rem;

        .surahsWrapper {
            height: 100%;
            padding-right: .6rem;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: start;
            overflow-y: auto;

            a{
                width: 100%;
            }
        }
    }

    // @media (max-width: 576px) {
    //     height: 100vh;
    //     padding: 5rem .4rem 1rem;

    //     .surahsWrapper {
    //         height: 100%;
    //         padding-right: .6rem;
    //         flex-wrap: nowrap;
    //         flex-direction: column;
    //         justify-content: start;
    //         overflow-y: auto;

    //         a {
    //             width: 100%;
    //         }
    //     }
    // }

}

.dark {
    @extend .light;
    background-color: $indigo;
}